@{
    ViewBag.Title = "About - Finding Us";
}

<div class="col">
    <a asp-action="Index">Home</a>
    <a asp-action="Contact">Contact</a> |
</div>

<div class="row">
    <h2 class="col-sm-12">About Finding Us</h2>

    <p class="col-sm-6">
        Here at Find Us we can help you find all the information you need.
        Whether you require food or aquatic friends, we know where to Find it.
    </p>

    <p class="col-sm-6">Contact us to start your search today. You can Find information about how to reach us on our <a asp-action="Contact">Contact page</a>.</p>

</div>