@{
    ViewBag.Title = "About - Finding Us";
}

<div class="col">
    <a asp-action="Index">Home</a>
    <a asp-action="Contact">Contact</a> |
</div>

<h2>About Finding Us</h2>

<p>Here at Find Us we can help you find all the information you need.</p>
<p>Whether you require food or aquatic friends, we know where to Find it.</p>

<p>Contact us to start your search today. You can Find information about how to reach us on our <a asp-action="Contact">Contact page</a>.</p>