@{
    ViewBag.Title = "Finding Us";
}

<div class="col">
    <a asp-action="Index">Home</a> |
    <a asp-action="About">About</a>
</div>

<div class="side-img">
    <img src="~/images/clownfish.jpg" alt="clown fish" height="700px" width="auto" />

</div>
<h2>Where to Find Us</h2>


<address>
    P Sherman, <br />
    42 Wallaby Way, <br />
    Sydney <br />
</address>

<address>
    <strong>Support: </strong> <a href="mailto:notnemo@findus.xyz">notnemo@findus.xyz</a>
</address>