@{
    ViewBag.Title = "Finding Us";
}

<div class="col">
    <a asp-action="Index">Home</a> |
    <a asp-action="About">About</a>
</div>
<div class="container">
    <div class="row">


        <h2>Where to Find Us</h2>

        <div class="col-6">
            <address>
                P Sherman, <br />
                42 Wallaby Way, <br />
                Sydney <br />
            </address>

            <address>
                <strong>Support: </strong> <a href="mailto:notnemo@findus.xyz">notnemo@findus.xyz</a>
            </address>
        </div>

        <div class="col-6">
            <img class="img-fluid rounded-pill" src="~/images/clownfish.jpg" alt="clown fish" height="300px" width="auto" />

        </div>
    </div>
</div>